a {
    text-decoration: none !important;
}

.mobile-menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.text-justify {
    text-align: justify;
}

.text-deco {
    text-decoration: none !important;
}

.custome-bth {
    padding: 14.5px 30px !important;
}

.margin-botton-zero {
    margin-bottom: 0px !important;
}

.bg-white-round {
    background-color: rgba(0, 0, 0, 0.685);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.hover-box:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    padding: 20px;
}

.hover-box {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.color-red {
    color: #FD4A42;
}



.gallery-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-card:hover img {
    transform: scale(1.1);
}

/* Black glass overlay */
.gallery-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.4s ease;
}

.gallery-card:hover .gallery-overlay {
    opacity: 1;
}

.gallery-overlay h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}


/* Tabs container spacing */
.gallery-tabs .nav-item {
    margin: 0 6px;
}

/* Button style */
.gallery-tab-btn {
    padding: 10px 22px;
    border-radius: 30px;
    border: 1px solid #ddd;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* Hover */
/* .gallery-tab-btn:hover {
    background: #111;
    color: #fff;
    border-color: #111;
} */

/* Active button */
.gallery-tab-btn.active {
    background: #1a685b;
    color: #fff !important;
    border-color: #111;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.cat-btn {
    color: #000 !important;
}
.cats-btn {
    color: #000 !important;
}
.cats-btn:hover {
    color: #fffafa !important;
}

.bottom-cls{
    position: fixed;
    bottom: 70px;
    left: 0px;
}

.logo-imgs{
    width: 50px;
}

.lowerCase{
    text-transform: lowercase !important;
}